@{
    ViewBag.Title = "Index";
}

@model MVCTodo.Models.PostModel

<h2>Index</h2>

<br/>

@*@Html.BeginForm("frmSubmit")*@

<form action="/GetPostTest/PostTest" method="post">
    <input type="text" name="txtPost1" placeholder="txt1"/>
    <input type="text" name="txtPost2" placeholder="txt2"/>
    <input type="text" name="txtPost3" placeholder="txt3"/>
    <input type="submit" value="전송"/>
</form>

<br/>

<form action="/GetPostTest/PostModelTest" method="post">
    <p>아이디 : </p>
    <input type="text" name="id" id="id" />

    <br /><br />

    <p>제목 : </p>
    <input type="text" name="title" id="title" />

    <br /><br />

    <input class="btn btn-primary" type="submit" value="모델 전송" />
    <input class="btn btn-primary" type="button" value="Ajax" onclick="AjaxTest();" />
</form>

<script type="text/javascript">
    function AjaxTest() {

        var txtId = document.getElementById("id").value;
        var txtTitle = document.getElementById("title").value;

        $.ajax({
            url: "/GetPostTest/PostModelTest",
            type: "post",
            data: "id=" + txtId + "&title=" + txtTitle, // key-value
            success: function (result) {
                alert(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>

@* 액션을 거치지 않고 뷰를 띄울 수 있다. *@
@Html.Partial("PartialTest")

@* 액션과 함께 *@
@*@Html.RenderAction("renderAction1")*@

